NODE_ENV=production
PORT=3000
HOST=0.0.0.0

DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=regretify
DATABASE_USER=replace-in-portainer
DATABASE_PASSWORD=replace-in-portainer

REDIS_HOST=redis
REDIS_PORT=6379
