NODE_ENV=production
PORT=3000
HOST=0.0.0.0

DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=regretify
DATABASE_USER=replace-in-portainer
DATABASE_PASSWORD=replace-in-portainer

REDIS_HOST=redis
REDIS_PORT=6379

ADMIN_AUTH_JWT_SECRET=replace-in-portainer
ADMIN_AUTH_JWT_EXPIRES_IN_SECONDS=43200
ADMIN_BOOTSTRAP_EMAIL=admin@regretify.app
ADMIN_BOOTSTRAP_PASSWORD=replace-in-portainer
ADMIN_BOOTSTRAP_ROLE=admin
