NODE_ENV=production
PORT=3000
HOST=0.0.0.0

DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=regretify
DATABASE_USER=replace-in-portainer
DATABASE_PASSWORD=replace-in-portainer

REDIS_HOST=redis
REDIS_PORT=6379

ADMIN_AUTH_JWT_SECRET=replace-in-portainer
ADMIN_AUTH_JWT_EXPIRES_IN_SECONDS=43200
ADMIN_BOOTSTRAP_EMAIL=admin@regretify.app
ADMIN_BOOTSTRAP_PASSWORD=replace-in-portainer
ADMIN_BOOTSTRAP_ROLE=admin

R2_ACCOUNT_ID=ead6309d1fe6c509012d949ad110c46b
R2_BUCKET_NAME=regretify-media
R2_ENDPOINT=https://ead6309d1fe6c509012d949ad110c46b.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=replace-in-portainer
R2_SECRET_ACCESS_KEY=replace-in-portainer
R2_PUBLIC_BASE_URL=https://pub-a2e9dc274a69453a890cf0d83ab4c040.r2.dev
